.book-card {
  border: 1px solid #ccc;
  margin: 0 10px 10px;
}

.full-width {
  width: 100%;
}

// .book-card-header {
//   margin: 0 !important;
// }

// override
// .mat-card-header-text {
//   margin: 0 !important;
// }
